<div class="footer-container">
    <footer>
      <div class="follow-us">
        <p>Síguenos en:</p>
      </div>

      <div class="social-media">
        <a href="https://www.apple.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook-f"></i>
          <span>Facebook</span>
        </a>
        <a href="https://www.apple.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
          <span>Instagram</span>
        </a>
        <a href="https://www.apple.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
          <span>Twitter</span>
        </a>
        <a href="https://www.apple.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-tiktok"></i>
          <span>TikTok</span>
        </a>
      </div>

      <div class="contact-info">
        <p>Punto de contacto en Vitoria:</p>
        <p>Calle Francia, 23 Bajo CP:01001 Vitoria-Gasteiz</p>
        <p>Email: iosu@gmail.com</p>
        <p>Teléfono: 945 258 317</p>
      </div>

      <div class="copyright">
        <p>&copy; 2023 Tienda de Iosu. Todos los derechos reservados.</p>
      </div>
    </footer>
</div>