<div class="footer-container">
    <footer>
      <div class="follow-us">
        <p>Síguenos en:</p>
      </div>

      <div class="social-media">
        <a href="https://www.amazon.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook-f"></i>
          <span>Facebook</span>
        </a>
        <a href="https://www.amazon.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
          <span>Instagram</span>
        </a>
        <a href="https://www.amazon.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
          <span>Twitter</span>
        </a>
        <a href="https://www.amazon.com/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-tiktok"></i>
          <span>TikTok</span>
        </a>
      </div>

      <div class="contact-info">
        <p>Alicante, España</p>
        <p>Email: shopeame@gmail.com</p>
        <p>Teléfono: 999 999 999</p>
      </div>

      <div class="copyright">
        <p>&copy; 2023, shopeame. Todos los derechos reservados.</p>
      </div>
    </footer>
</div>